[submodule "core/vendor/glm"]
	path = core/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "core/vendor/glfw"]
	path = core/vendor/glfw
	url = https://github.com/liangliang24/glfw
[submodule "core/vendor/spdlog"]
	path = core/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "core/vendor/imgui"]
	path = core/vendor/imgui
	url = https://github.com/liangliang24/imgui

